.main
{
font-size: 500%;
margin-left:500px;
margin-top:100px;
margin-right:500px;
background-repeat:no-repeat;
border-right:double;
border-bottom:double;
border-left:double;
border-top:double;
background:url(../images/new.jpg);
padding-left:40px;
padding-top:50px;
}
.detail
{
text-align:right;
text-decoration:blink;
text-shadow:#003366;


}





  

}
